<navbar class="flex mb-16 justify-center">
  <div class="fixed mx-1 my-1.5 w-[95%] h-12 bg-slate-100 dark:bg-slate-700 rounded-2xl">
    <div id="content" class="flex justify-between">
      <div class="" id="branding">
       <img src=""/>
      </div>
      <div class="" id="">
        
      </div>
    </div>
  </div>
</navbar>